.pedido_item{
    font-size: 10pt;
    color: black;
    margin: 5px;
    padding: 0.2%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 36px 24px rgba(216, 216, 233, 0.5);
}

.pedido_item button{
    background-color:var(--color-header);
    cursor: pointer;
    padding: 0.1%;
    width: 80px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    font-size: 8pt;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.1s;
}

.pedido_item button:hover{
    background-color: white;
    border: 2px solid black;
    box-shadow: 2px 2px rgba(0, 0, 0, 1);
}

.pedido{
    font-weight: bold;
}