<section class="report_container">

    <div class="cuerpo_report">
        <div class="cabecera_reporte">
            <img src="/assets/images/report.png" alt="reporte" width="50px">
            <h2>REPORTE DE GASTOS</h2>
            <p class="right">fecha de consulta: 11 de agosto de 2023</p>
        </div>
        <hr>

        <div class="periodo_container">
            <h3>PERIODO CONSULTADO</h3>
            <div>
                <h4>DESDE: 10 de abril de 2023</h4>
                <h4>HASTA: 20 de abril de 2023</h4>
            </div>
        </div>
        <hr>

        <div class="resultados_reporte">
            <h4 class="red">GASTO TOTAL: $9.000</h4>
            <h4 class="green">DESCUENTO TOTAL: $2.000</h4>
            <h4 class="yellow">CANT. DE PEDIDOS: 15</h4>
        </div>
    </div>
   
</section>