main{
  border-radius: 20px;
  border: 2px solid var(--color-header);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px, rgba(0, 0, 0, 0.4) 0px 3px 8px;


  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  padding: 2%;
}

aside{
  display: inline-block;
}

.globo{
  border-radius: 25px;
  background: gray;
  color: white;
  padding: 10px;
  position: relative;
  width: 200px;
  margin: 0 auto;
  font-family: sans-serif;
  z-index: 1;
  }

.globo::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0px;
  background: transparent;
  width: 0px; height: 0px;
  border-bottom: 20px solid gray;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;
  transform: rotate(50deg);
  z-index: -1;
  }

  /*--config preferencias--*/
  section{
    float: right;
    margin-right: 15rem;
  }

  section > select{
    width: 130%;
    height: 3rem;
    margin: 10px;
    border-radius: 10px;
    background-color: gray;
  }

  option{border-radius: 10px;}

  .btn_container{
    width: 100%;
    display: inline-block;
    
  }

  button{
    margin: 1%;
    padding: 1%;
    width: 20vw;
    border-radius: 5px;
    font-weight: bolder;
    float: right;
    color: white;
    transition: all 0.3s;
  }

  #btn_off:hover,
  #btn_reset:hover{
    color: black;
    background-color: gray;
  }

  #btn_off{
    background-color: red;
  }

  #btn_reset{
    background-color: var(--color-header);
  }

  /*si existen preferencias seteadas*/
#preferencias_user{
    display: inline-flexbox;
    width: 50%;
  }
  .container_preferencia{
    font-weight: bolder;
    border-radius: 5px;
    padding: 2%;
    margin: 10px;
    width: 100%;
    display: flex;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px, rgba(0, 0, 0, 0.4) 0px 3px 8px;
  }

  .container_preferencia> p {margin-left: 20px;}