* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-slider: #1D1E22;
    --color-slider-claro: #44464E;
    --color-acento: #0A1535;
    --color-header: #ffbc0d;
    --color-body: #F8F9FA;
    --color-footer: #1e343d96;
}

body {
    background-color: var(--color-body);
}

html {
    min-height: 100%;
    position: relative;
  }