* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-slider: #1D1E22;
    --color-slider-claro: #44464E;
    --color-acento: 	#ff0000;
    --color-header: #378b29;
    --color-body: #EFEFEF;
    --green-light: #97cc97;
    --green-dark : #62BC47;
    --color-footer: var(--color-header) /*#48586D*/;
    --color-nav: none;
}

body {
    background-color: var(--color-body);
}

html {
    min-height: 100%;
    position: relative;
  }

  .sombra{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}