h1{
    text-align: center;
}

#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    max-width: 800px;
    padding: 90px;
    background-color: #f8f9fa;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid var(--color-header);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    margin-bottom: 10px;
  }
  
  .btn {
    width: 100%;
  }
  
  button{
    background-color: var(--color-header) !important;
    border-color: var(--color-header) !important;
  }