#form-container {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  form {
    margin: 30px;
    width: 80%;
    height: 60%;;
    padding: 30px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow:  8px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid  gray;
    text-align: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1,1fr);
  }

  form label{
    font-weight: bold;
    padding: 2%;
    margin: 2%;
  }

  .header-form{
    width: 100%;
    display: flex;
    text-align: center;
  }

  .header-form img{
    width: 50px;
    margin-left: 20px;
  }

  .contenedor-opcion{
    display: inline-flex;
  }

  .input-group{
    width: 100%;
  }


  .fechas{
        width: 100%;
        text-align: start;
        display: flex;
        align-items: center;
        margin: auto;
  }

  .fechas input{
    padding: 2%;
    margin: 20px;
  }


  .info-container{
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .label-menu{
    border-radius: 10px;
    padding: 2%;
    margin: 5px;
    font-weight: bolder;
  }

  tbody{
    text-align: left;
  }

  table{
    border: 5px solid #000;
  }

  