.container-principal{
    background-color: var(--color-body);
}

#menu_container{
   
    background-color: none;
    float: right;
    width: 95%;
    height: 100%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2,1fr);
}

/* generales de ambos bloques*/
.form_menu{
    background-color: white;
    border-radius: 10px;
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.5) -5px 8px 0px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.ultimo_menu{
    background-color: white;
    border-radius: 10px;
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.5) -5px 8px 0px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}


.header-form{
    width: 100%;
    display: flex;
    text-align: center;
    color: black;
  }

  .header-form img{
    width: 50px;
    margin-left: 20px;
  }

  form{
    color: var(--color-header);
  }

  .column{
    margin-top: 20px;
    width: 100%;
    display: grid;
    place-items: center; 
    font-weight: bold;
  }

  /* estilos formulario de creacion*/


  .contenedor-opcion {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    padding: 1%;

  }
  

  input[type="number"]{
    width: 100%;
    border-radius: 10px;
    border: 1px solid gray;
    margin-left: 20px;
    padding: 3%;
  }

.date-menu-venc , .date-menu{
  padding: 2%;
  height: 50px;
  border-radius: 10px;
  font-weight: bold;
}

.date-menu{
  width: 255.78px;
}
.fechas{
  margin: 10px;
  font-size: 1Opt;
  text-align: center;
  font-weight: bold;
  display: inline-flex;
}

.fechas div{
  display: block;
}

hr{
  background-color: var(--color-header);
  height: 5px;
  border: 1px solid var(--color-header);
}

.boton_carga{
  background-color: var(--color-header);
  font-weight: bold;
  font-size: 15pt;
  padding: 3%;
  border-radius: 10px;
  color: white;
  border: 1px solid var(--color-header);
  width: 250px;
  float: right;
  transition: all 0.3s;
}

.boton_carga:hover{
  background-color: white;
  color: var(--color-header);
}


/*---estilos de la tarjeta que muestra el menu---*/

.fecha_d{
  display: grid;
  font-size: 15px;
}

.cierre{
  width: 100%;
  text-align: center;
}