section{
    border: 5px solid var(--color-acento);
    border-radius: 20px;
    background-color: white;
    padding: 2%;
    width: 95%;
    float: right;
    text-align: center;
    font-weight: bold;
}

.title_container{
    display: block;
    margin-bottom: 20px;
}

.title_container img{
    cursor: pointer;
}

button{
    background-color: var(--color-header);
    color: white;
    border-radius: 10px !important;
    border: none;
    padding: 1%;
    margin: 2%;
    font-weight: bold;
}

.btn_container{
    margin: 1%;
}

#opciones_persona{
    padding: 1%;
    margin: 1%;
}

#btnHacerPedido{background-color: green;}

article div label ,
article div select{
    padding: 0.5%;
    margin: 0.3em;
}