<div id="nav-bar">
    <ul>
        <li><a href=""  title="home"><img src="/assets/icons/house.png" alt="" srcset="""></a></li>
        <li><a href="" title="menus"><img src="/assets/icons/clock.png" alt="" srcset=""></a></li>
        <li><a href="" title="platillos"><img src="/assets/icons/takeaway.png" alt="" srcset=""></a></li>
        <li><a href=""title="usuarios"><img src="/assets/icons/takeaway.png" alt="" srcset=""></a></li>
        <li><a href="" title="contabilidad"><img src="/assets/icons/takeaway.png" alt="" srcset=""></a></li>
        <li><a href="" title="cerrar sesion" id="cerrar-sesion"><img src="/assets/icons/exit.png" alt="" srcset=""></a></li>
    </ul>
</div>