<div id="nav-bar">
    <ul>
        <li><a href="/pages/home.html"  title="home"><img src="/assets/icons/house.png" alt="" srcset="""></a></li>
        <li><a href="/pages/menus.html" title="menus"><img src="/assets/icons/chef-hat.png" alt="" srcset=""></a></li>
        <li><a href="" title="platillos"><img src="/assets/icons/food-tray.png" alt="" srcset=""></a></li>
        <li><a href=""title="usuarios"><img src="/assets/icons/group.png" alt="" srcset=""></a></li>
        <li><a href="" title="contabilidad"><img src="/assets/icons/dollar.png" alt="" srcset=""></a></li>
        <li><a href="" title="cerrar sesion" id="cerrar-sesion"><img src="/assets/icons/exit.png" alt="" srcset=""></a></li>
    </ul>
</div>