.contador_navidad{
    color: var(--color-acento);
    width: 70%;
    margin: auto;
    padding: 2%;
    text-align: center;
    border: 2px solid var(--color-acento);
    border-radius: 20px;
    background-color: white;
}

.contador_navidad hr{
    height: 5px;
    background-color: var(--color-acento);
}