<div class="header-container">
    <div>
        <h2 id="nombre-usuario">Bienvenido! NombreUsuario </h2>
    <hr>
    </div>

    <div class="menu-header">
        <ul>
            <li><a href="home.html"><img src="/assets/icons/house.png" alt="">Home</a> </li> 
            <li><a href="pedido.html"><img src="/assets/icons/takeaway.png" alt="">Pedido</a> </li> 
            <li><a href="ultimos.html"><img src="/assets/icons/clock.png" alt="">recientes</a> </li> 
            <li><a href="perfil.html"><img src="/assets/icons/userWhite.png" alt="">Mi Perfil</a> </li> 
            <li><a href="" id="cerrar-sesion"><img src="/assets/icons/exit.png" alt="">Salir</a> </li> 
        </ul>
    </div>
    


</div>
    
