<div class="header-container">
    <div>
        <h2 id="nombre-usuario">Bienvenido! NombreUsuario </h2>
    <hr>
    </div>

    <div class="menu-header">
        <ul>
            <li><a href="home.html"><img src="/christmast/assets/images/sledge.png" alt="">Home</a> </li> 
            <li><a href="pedido.html"><img src="/christmast/assets/images/snowflake.png" alt="">Pedido</a> </li> 
            <li><a href="ultimos.html"><img src="/christmast/assets/images/bauble.png" alt="">recientes</a> </li> 
            <li><a href="perfil.html"><img src="/christmast/assets/images/gingerbread-man.png" alt="">Mi Perfil</a> </li> 
            <li><a href="" id="cerrar-sesion"><img src="/christmast/assets/images/reindeer.png" alt="">Salir</a> </li> 
        </ul>
    </div>
    


</div>
    
