header{

    background-color: var(--color-header);
}

.header-container{
    color: white;
    width: 100%;
    margin: auto;
    text-align: center;
}

.header-container ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

.header-container ul li{
    padding: 2%;
    transition: all 0.3s;

}

.header-container ul li a{
    display: inline-flex;
    text-decoration: none;
    color: white;
    align-items: center;
}

.header-container ul li:hover{
    background-color: #0f3d5f;
}

.header-container ul li a img{
    margin-left: 5px;
    margin-right: 5px;
}

.menu-header{
    width: 100%;
    padding: 0%;
    background-color: var(--color-nav);
}


header hr{
    border: none;
    width: 70%;
    margin: auto;
    height: 5px;
    background-color: #000;  /* Modern Browsers */
    border-radius: 2px;
}

#nombre-usuario{
    padding: 1rem;
}