<link rel="stylesheet" href="/components/recibo/recibo.css">
<div id="recibo">

<h3>Recibo: N° d53a7050-0379-4294-3249-08db78c2c60f</h3>
<h4>PARA: Ezequiel</h4>

<table>
    <thead>
        <td>DESCRIPCION</td>
        <td>PRECIO</td>
    </thead>
    <tr>
        <td>milanesa a la napolitana</td>
        <td>$ 3000</td>
    </tr>
    <tr>
        <td>milanesa a la napolitana</td>
        <td>$ 3000</td>
    </tr>
    <tr>
        <td>milanesa a la napolitana</td>
        <td>$ 3000</td>
    </tr>
</table>

<div class="resumen">
    <h4 class="descuento">Descuento: 50%</h4>
<h4 class="total">Total: $1500</h4>
</div>

</div>